<div class="container mt-4" *ngIf="coffeeItem">
    <h2>Coffee Item Details</h2>
    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <h5 class="card-title">{{ coffeeItem.coffeeName }}</h5>
        <p class="card-text"><strong>Coffee ID:</strong> {{ coffeeItem.coffeeId }}</p>
        <p class="card-text"><strong>Price:</strong> ₹{{ coffeeItem.price }}</p>
  
        <a class="btn btn-secondary mt-3" routerLink="/coffeeitems">Back to List</a>
      </div>
    </div>
  </div>
  
  <div class="container mt-4" *ngIf="!coffeeItem">
    <div class="alert alert-warning">Coffee Item not found!</div>
    <a routerLink="/coffeeitems" class="btn btn-secondary">Back</a>
  </div>
  